* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  color: darkslategray;
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.side {
  background-color: gray;
  background-size: 100% 100%;
}

.side img {
  width: 100%;
  max-width: 100%;
}

.login-container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  width: 150px;
  height: 4px;
  background-color: gray;
  margin: 24px;
}

.welcome-message {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  margin-bottom: 30px;
  color: gray;
}

.login-form {
  width: 70%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

.form-create {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}

input {
  width: 100%;
  background: whitesmoke;
  color: gray;
  letter-spacing: 0.5px;
  padding: 14px 64px;
}

button.submit {
  color: white;
  padding: 14px 64px;
  width: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, whitesmoke, gray);
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

@media (max-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.side {
    display: none;
  }
}
